#指定端口号
server:
  port: 8081

spring:
  application:
    name: testSystem

  #热部署   对前端修改后 不再需要一次次重启项目
  devtools:
    restart:
      enabled: true
  #mysql数据库连接  114.55.92.94:3307/ paimai   admin123
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://8.131.85.12:3306/examination?useUnicode=true&allowMultiQueries=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      pool-name: BiddingfdHikariPool
      maximum-pool-size: 12
      connection-timeout: 60000
      minimum-idle: 10
      idle-timeout: 500000
      max-lifetime: 540000
      connection-test-query: SELECT 1
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    #配置redis
  redis:
    host: 8.131.85.12
    port: 6379
    password: #zf123
  mvc:
    static-path-pattern: /static/**
    view:
      prefix: /jsps/
      suffix: .jsp
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto
  type-aliases-package: com.bgs.examinationbackstage.pojo
#打印sql语句
logging:
  level:
    com:
      bgs:
        examinationbackstage: debug
