<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
   <!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
</head>
<body>
<div class="layui-container">
    <form class="layui-form" lay-filter="form-filters">
        <div class="layui-row" class="layui-col-sm6">
            <div class="layui-col-sm6">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=652968666,3496267388&fm=26&gp=0.jpg" width="200px" height="180px" type="right:30%">

                    </label>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block" >
                        <input type="text" name="roleName" id="roleName" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userPwd" id="userPwd" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userIdentity" id="userIdentity" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">市</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" id="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">街道</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userAddressDetails" id="userAddressDetails" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label">
                        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=652968666,3496267388&fm=26&gp=0.jpg" width="300px" height="300px">
                    </label>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userName" id="userName" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">出生日期</label>
                    <div class="layui-input-block" >
                        <input type="text" name="nickname" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">身份证编号</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userIdentity" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-block" >
                        <input type="text" name="nickname" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">签发机关</label>
                    <div class="layui-input-block" >
                        <input type="text" name="nickname" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class=" layui-form-item">
                    <label class="layui-form-label">商户昵称</label>
                    <div class="layui-input-block" >
                        <input type="text" name="groupName" id="groupName" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userAlias" id="userAlias" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">微信昵称</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userWeixinName" id="userWeixinName" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block" >
                        <input type="text" name="sexName" id="sexName" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">登录账号</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">省份</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name1" id="name1" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">区县</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name2" id="name2" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">地址详情</label>
                    <div class="layui-input-block" >
                        <input type="text" name="userAddressDetails"  placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=652968666,3496267388&fm=26&gp=0.jpg" width="300px" height="300px">
                    </label>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block" >
                        <input type="text" name="sexName"  placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">民族</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">身份证正面地址</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
                <div class=" layui-form-item">
                    <label class="layui-form-label">到期日期</label>
                    <div class="layui-input-block" >
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input  layui-col-sm2">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</body>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    //获取路径中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    //customId就是路径中的参数
    var groupId=getUrlParam("groupId");
    layui.use('form',function() {
        var form=layui.form.render();
            $.ajax({
            url:"/Management/allusermanagement",
            data:{id:groupId},
            type :"get",
            success:function (res) {
                alert(res[0].roleName)
                var roleName=res[0].roleName
                form.val("form-filters",{
                    "roleName":roleName
                })
                form.render();
            },error:function(e){
            alert(e+"sssssssss")
            }
            })
    })
</script>


</html>