<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.examinationbackstage.mapper.ZhuzhiMapper">

        <select id="Kaoshi" resultType="map">
             select *,CONCAT_WS('-',test_paper_start_time,test_paper_end_time) as times  from examination_paper
             <where>
                 <if test="paperName!=null and paperName!='' ">
                     test_paper_name like '%${paperName}%'
                 </if>
                 <if test="start!=null and start!=''and finish!=''and finish!='' ">
                     and test_paper_date between #{start} AND #{finish}
                 </if>
                 <if test="paperStatic!=null and paperStatic!='' ">
                     and test_paper_state = #{paperStatic}
                 </if>
             </where>
        </select>


    <delete id="deletePaper">
        delete from examination_paper where test_paper_id = #{id}
    </delete>

    <delete id="deleteQues">
        delete from test_paper_questions where test_paper_id = #{id}
    </delete>

    <delete id="deleteUser">
        delete from test_paper_user where test_paper_id = #{id}
    </delete>

    <delete id="deleteAnswer">
        delete from examination_answer where examination_id = #{id}
    </delete>


    <select id="addUser" resultType="User">
        select * from user
    </select>

    <insert id="examinationexamination">
        <selectKey keyProperty="test_paper_id" resultType="Integer" order="AFTER">
            select  last_insert_id()
        </selectKey>
        insert into  examination_paper  VALUES
        (0,
        #{name},
        #{dateExam},
        #{startExam},
        #{finishExam},
        1,
        #{time},
        #{jin},
        #{singleWay},
        #{pass},
        #{fullMark},
        #{number},
        0,0,0,#{user}
        );
    </insert>


    <insert id="userAddKao">
      insert into  test_paper_user (test_paper_id,user_id)  VALUES
        (#{tid},
        #{id}
        )
    </insert>

    <select id="singleCount" resultType="Integer">
        select  question_bank_id  from  question_bank where question_bank_type = '单选题'and shared_state = 2 order by rand() limit #{singleCount}
    </select>


    <select id="multipleCount" resultType="Integer">
        select  question_bank_id  from  question_bank where question_bank_type = '多选题' and shared_state = 2   order by rand() limit #{multipleCount}
    </select>


    <select id="gapFillingCount" resultType="Integer">
        select  question_bank_id  from  question_bank where question_bank_type = '填空题' and shared_state = 2  order by rand() limit #{gapFillingCount}
    </select>


    <select id="judgeCount" resultType="Integer">
        select  question_bank_id  from  question_bank where question_bank_type = '判断题' and shared_state = 2  order by rand() limit #{judgeCount}
    </select>

    <select id="shortAnswerCount" resultType="Integer">
        select  question_bank_id  from  question_bank where question_bank_type = '简答题' and shared_state = 2  order by rand() limit #{shortAnswerCount}
    </select>

    <insert id="singleCountAdd">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item}, #{singleGrade})
        </foreach>
    </insert>


    <insert id="multipleCountAdd">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item}, #{multipleCount})
        </foreach>
    </insert>

    <insert id="gapFillingCountAdd">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item}, #{gapFillingCount})
        </foreach>
    </insert>


    <insert id="judgeCountCountAdd">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item}, #{judgeCount})
        </foreach>
    </insert>


    <insert id="shortAnswerCountCountAdd">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item}, #{shortAnswerCount})
        </foreach>
    </insert>

        <select id="ChooseQuestions" resultType="map">
            select  * from question_bank where shared_state = 2
        </select>


    <insert id="questionsAddS">
        insert into test_paper_questions (test_paper_id, test_questions_id ,test_grade)
        values
        <foreach collection="inLis" item="item" index="index" separator=",">
            (#{tid}, #{item.question_bank_id}, #{item.fenshu})
        </foreach>
    </insert>


    <select id="essentialInformation" resultType="map">
           select * from examination_paper where test_paper_id = #{id}
        </select>

    <select id="essentialUser" resultType="map">
            select * from  test_paper_user,user
            where
            test_paper_user.test_paper_id =  #{id} and
            test_paper_user.user_id = user.id
        </select>


    <select id="essentialExam" resultType="map">
        select * from test_paper_questions,question_bank
        where test_paper_questions.test_paper_id = #{id} and
        test_paper_questions.test_questions_id = question_bank.question_bank_id

        </select>


    <select id="analyseExam" resultType="map">
         select  count(case when test_paper_user.join_state=1 then 1 else null end) aCount,
                count(case when test_paper_user.total_points > test_paper_user.pass_mark then 1 else null end) bCount ,user.*
                        from test_paper_user,user
                    where test_paper_user.user_id = user.id GROUP BY user.id
        </select>

    <select id="selectPaper" resultType="map">
        select
        test_paper_user.*,examination_paper.test_paper_full_mark,examination_paper.test_paper_name
        from
        test_paper_user,
        examination_paper
        where
        examination_paper.test_paper_id = test_paper_user.test_paper_id
        and  test_paper_user.user_id = #{id}

        </select>

</mapper>
